src/misc/test/misc/xmlwrapp/schema/data/10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Root" type="TestResReport"/>

  <xs:complexType name="TestResReport">
    <xs:sequence>
      <xs:element name="Version" type="xs:string"/>
      <xs:element name="Error" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

